body {
	display: flex;
	background: contrast(#2f905d);
}

.box {
	padding: 10px;
	margin: 0 10px 10px 0;
}

.red {
	background: #ef444;
	color: contrast(#ef444);
}

.blue {
	background: #394BA0;
	color: contrast(#394BA0);	
}

.green {
	background: #82C341;
	color: contrast(#82C341);	
}

.purple {
	background: #D54799;
	color: contrast(#D54799);	
}

.yellow {
	background: #FFF000;
	color: contrast(#FFF000);	
}

.orange {
	background: #FAA31B;
	color: contrast(#FAA31B);	
}

.blue-2 {
	background: #88C6ED;
	color: contrast(#88C6ED);	
}

.green-2 {
	background: #009F75;
	color: contrast(#009F75);	
}
